* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Arial',sans-serif;
}

.container {
    border: 2px solid black;
    height: 100Vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center; 
    align-items: center; 
    background-color: #c8e7ff;
}
.search input {
    height: 40px;
    width: 30vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    letter-spacing: 2px;
    padding: 0 30px ;
    background-color: #d0d1ff;
    font-size: 17px;
    border: 2px solid black;
    outline: none;
}
.submit {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
    width: 5vw;
    background-color: #c0fdff;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid black;
}
.content {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    justify-content: center;
    align-items: center;
    background-color: #d8bbff;
}
.end-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 150vh;
    background-color: #ecbcfd;
    border-radius: 50px;
}
.itembox{
    display: flex;
    height: 40px;
    width: 60vw;
    justify-content: space-around;
    align-items: center;
}
.end-content ul li {
    border: 2px solid grey;
    display: flex;
    justify-content: space-between;
    height: 25px;
    width: 50vw;
    text-align: center;
    padding: 10px 0 0 10px;
    border-radius: 20px;
    background-color: #d0d1ff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.del {
    margin-right: 10px;
    height: 35px;
    width: 100px;
    padding: 0 8px;
    background-color: #c0fdff;
    opacity: 1;
    border: 1px solid gray;
    border-radius: 30px;
    transition: 0.5s;
}
 
@media only screen and (max-width: 600px) {
    .submit{
        width: 50px;
        font-size: 15px;
    }
    .search input {
        font-size: 14px;
        padding: 0 30px;
    }
    .del{
        opacity: 1;
        width: 60px;
    }
    .end-content {
        width: 70vw;
    }
}
